.company {
    justify-content: center;
}

.company__item {
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition-property: border;
    transition-duration: var(--time);
    transition-timing-function: var(--timing-function);
}

.company__item:hover,
.company__item:focus {
    border: 1px solid var(--accent-color);
}

.company__item:not(:last-child) {
    margin-right: 30px;
}

.company__link {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #AFB1B8;
    padding: 16px 32px;
    transition-property: fill;
    transition-duration: var(--time);
    transition-timing-function: var(--timing-function);
}

.company__link:hover,
.company__link:focus {
    fill: var(--accent-color);
}